ul.main-nav {
    margin: 0;
    padding: 0;
}

ul.main-nav ul {
    margin: 0;
    padding: 0;
    display: none;
}

ul.main-nav li.active,
ul.main-nav li:hover {
    background: #f9f9f9;
    border-top-color: #f9f9f9;
    color:#333;
}

ul.main-nav li.active li {
    border-top-color: #999999;
    background: #f9f9f9;
    color: #000000;
}

ul.main-nav li.active > ul {
    display: block;
}

ul.main-nav li {
    border-top: 1px solid #333;
    position: relative;
    color: #ffffff;
}

ul.main-nav li > i {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 18px;
    left: 10px;
    cursor: pointer;
}

ul.main-nav li a {
    text-decoration: none;
    display: block;
    padding: 15px 10px 15px 0;
    margin-left: 25px;
    color: inherit;
}